<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
        <typeAlias alias="BankAccount" type="com.rueggerllc.domain.BankAccount"/>
  </typeAliases>
    
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.apache.derby.jdbc.ClientDriver"/>
        <property name="url" value="jdbc:derby://localhost:1527/H:\\Derby\\rueggerllc"/>
        <property name="username" value="chris"/>
        <property name="password" value="dakota"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="BankAccount.xml"/>
  </mappers>
</configuration>