<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
  <session-factory>
  
    <!--  General -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="show_sql">true</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.cglib.use_reflection_optimize">true</property>
    
    
  
    <!-- DERBY StandAlone -->
    <property name="hibernate.dialect">com.rueggerllc.hibernate.MyDerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/rueggerllc</property>
    <property name="hibernate.connection.username">chris</property>
    <property name="hibernate.connection.password">dakota</property>
    <property name="hibernate.cache.use_structured_entries">true</property>
    
    
    <!-- DERBY JNDI -->
<!--     <property name="hibernate.dialect">com.rueggerllc.hibernate.MyDerbyDialect</property>
    <property name="hibernate.connection.datasource">java:comp/env/jdbc/rueggerllc</property> -->


	<!-- Cache -->
	<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
	<property name="hibernate.cache.use_second_level_cache">true</property>
	<property name="hibernate.cache.use_query_cache">true</property>
	<property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
	<property name="hibernate.generate_statistics">true</property>
	<property name="hibernate.cache.use_structured_entries">true</property>
	
  
  </session-factory>
</hibernate-configuration>